{% extends 'base.html'%}

{% block content %}

<div style="border: 2px solid #000;">
    <h1>This is a the body</h1>
    <p>Here is where you put stuff that should be in the bodyof your website.</p>
    
    <!--
    <p>{{some_string}}</p>
    
    <p>
        <button onclick="add_message()">Add Message</button>
    </p>
    
    <p>
        {{some_number}}
    </p>
    -->

    {% for question in questions %}
       {% include 'personal/snippets/body_snippets.html' with value=question %}
    {% endfor %}

    
</div>


{% endblock content %}